.header_link {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    font-size: 24px;
    font-weight: 400;
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

.header_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #00AD25;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
}

.header_link:hover::after {
    transform: scaleX(1); 
}