.footer_wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.footer_wrapper_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1620px;
    width: 100%;
    margin-bottom: 12px;
}

.footer_logo_pic {
    display: block;
    width: 78px;
    height: 32px;
}

.footer_logo_img {
    width: 100%;
    height: 100%;
}

.footer_nav_list {
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper_footer_link {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer_link {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-decoration: none;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 32px;
}

.link-tel {
    background-image: url('../../assets/img/phone.png');
}

.link-email {
    background-image: url('../../assets/img/email.png');
}