.advantage_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 220px;
}

.advantage_stats {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    color: #00AD25;
}

.advantage_text {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 144%;
    color: #333;
}