.wrapper_meaning {
    display: flex;
    min-width: 400px;
    justify-content: flex-start;
    gap: 8px;
}

.wrapper_text_and_line {
    display: flex;
    gap: 8px;
    min-width: 320px;
}

.text_meaning {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}

.line {
    flex: 1;
    margin-bottom: 5px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}

.no-info {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgb(153, 153, 153);
}