.wrapper_modal_video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(10, 11, 11, 0.9);
}

.wrapper_video {
    position: relative;
    width: 960px;
    height: 540px;
    background-color: rgba(57, 59, 60, 1);
}

.trailer_movie {
    width: 100%;
    height: 100%;
}

.close_trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -72px;
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
}

.close_trailer::before,
.close_trailer::after {
    content: '';
    position: absolute;
    width: 18.41px;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close_trailer::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_trailer::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.trailer_frame {
    border: none;
}